.chatBox-container {
    width: 100%;
    max-width: 325px;
    margin: 20px auto;
    background: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    position: relative;
    height: 200px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
    background: white;
    border-radius: 15px;
    border-width: 1px;
    border-color: #BAD7F1;
}

.input-container {
    display: flex;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.chatBox-container input {
    width: calc(100% - 80px);
    padding: 8px 15px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 40px;
    box-sizing: border-box;
}

.chatBox-container button {
    width: 80px;
    padding: 8px 0;
    background: #BAD7F1;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Inter', sans-serif !important;
    font-weight: 900 !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
}

.chatBox-container button:hover {
    background: darkblue;
}

.chat-message {
    padding: 5px;
    border-bottom: 1px dotted #eee;
}
.chat-message:last-child {
    border-bottom: none;
}

.current-user {
    color: #FFC107;
    text-align: right;
}

.other-user {
    color: gray;
    text-align: left;
}

.typing-indicator {
    font-size: 14px;
    font-style: italic;
    color: #888;
    padding: 5px 10px;
    margin-top: 5px;

    position: absolute;  /* Fix position */
    bottom: 0;       /* Position it at the bottom */
    left: 40%;         /* Align it to the left (adjust as needed) */
    width: 100%;        /* Ensure it spans across the width */
    text-align: left;   /* Align text properly */
}
