/* Default styles */
.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
    justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #F6F0F0;
    padding-top: 100px;
}

.dashboard-heading {
    position: absolute;
    border: 3px solid #BAD7F2;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    background-color: #BAD7F2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Height of the header */
    margin: 0;
    box-sizing: border-box;
    z-index: 1000;
}

.dashboard-content {
    display: flex;
    flex-grow: 1;
}

.dashboard-left-panel, .dashboard-right-panel {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    height: 100%;
    box-sizing: border-box;
}

.dashboard-main-panel {
    flex: 2;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 10px;
    height: 100%;
    box-sizing: border-box;
}

.dashboard-panel {
    background: #FFFFFF;
    border-radius: 36px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    flex-grow: 1;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.dashboard-main-panel .dashboard-panel:first-child {
    height: 250px;
    color: purple;
}

.dashboard-right-panel .dashboard-panel:last-child {
    height: 100%;
    color: red;
}

.dashboard-left-panel .dashboard-panel:first-child {
    height: 40vh;
}

.dashboard-left-panel .dashboard-panel:first-child {
    height: 40vh;
}
