.shared-materials-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    text-align: center; 
}

.shared-materials-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden; /*change this to be scroll?*/
    width: 100%; /* Ensure the container has a width */
}

.sm-title {
    color: black;
    font-family: 'Press Start 2P', cursive !important;  /* Added !important to override any conflicts */
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: normal;  /* Press Start 2P looks better without bold */
}

.upload-materials-label{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #bad7f2;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin-bottom: 15px;
}

.display-files-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.file-name-label {
    border-radius: 20px;
    border: none;
    background-color: #f2bac9;
    justify-self: left;
    color: white;
    cursor: pointer;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-right: 5px;
    padding: 2px 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    box-sizing: border-box; 
    display: inline-block;
    max-width: 230px;
    flex-shrink: 0;
    transition: background-color 0.3s ease;
}

.file-name-label:hover {
    background-color: #bf8393; 
}

.file-delete-button {
    border-radius: 50%;
    border: none;
    background-color: #baf2e9;
    justify-self: right;
    color: white;
    cursor: pointer;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.file-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2000; /*ensures it is on top of heading*/
}

.file-modal-content {
    margin: auto;
    padding: 20px;
    border: 5px solid #f2bac9;
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 2001; /*ensures it is on top of heading*/
}

.file-close-button{
    border-radius: 50%;
    border: none;
    background-color: #f2bac9;
    justify-self: right;
    color: black;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.file-modal-title {
    color: black;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
}

.file-iframe {
    width: 100%;
    height: 70vh;
}


