.dashboard-panel {
    padding: 30px;
}

.dashboard-panel input {
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: black;
    border-radius: 30px;
}

.dashboard-panel input:focus {
    border-color: #007bff;
}

/* Buttons */
.dashboard-panel button {
    width: 100%;
    padding: 10px;
    background-color: #F2BAC9;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.dashboard-panel button:hover {
    background-color: #f57a9b;
}